*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Light.otf);
}

body{
    font-family: 'Montserrat';
    padding-left: 10%;
    padding-right: 10%;
}

.nav-bar{
    top: 0;
    position: sticky;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 1rem;
}

ul li{
    all: unset;
}

.link{
    all: unset;
    cursor: pointer;
    background-color: #ddb142;
    padding: 0.3rem;
    color: #ffff;
    border-radius: 0.2rem;
    transition: 0.5s;
}

.link:hover{
    background-color: #0abdb4;
    transform: scale(0.3);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.nav-links{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo{
    display: flex;
    align-items: center;
    color: rgb(190, 142, 19);
}

.cssf-logo{
    width: 5rem;
    height: auto;
    margin-right: 0.5rem;
}

header{
    margin-top: 2rem;
    color: grey;
}

form{
    all: unset;
    margin-top: 3rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #73c9c5;
    padding: 3em;
    margin-left: 10em;
    margin-right: 10em;
    border-radius: 1em;
    margin-bottom: 4em;
}

input{
    all: unset;
    width: 20rem;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-bottom: 2px solid white;
    border-radius: 0.2rem;
    
}

input[type="date"]{
    color: #78776e;

}

label{
    color: white;
}

.submit-btn{
    all: unset;
    width: 10rem;
    height: 2.5rem;
    padding: 0.5em;
    border-radius: 0.2rem;
    background-color: #ddb142;
    color: white;
    text-align: center;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.5s;
}

.submit-btn:hover{
    background-color: #0abdb4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.footer-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    max-width: 100%;
}

.footer-img{
    width: 4rem;
}

.footer-card:hover{
    cursor: pointer;
}


@media (max-width: 768px) {
    .nav-bar{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        max-width: 100%;
    }
}

body{
    padding-left: 5%;
    padding-right: 5%;
}

.cssf-logo{
    width: 3rem;
}

form{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
}

input{
    all: unset;
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-bottom: 2px solid white;
    
}

.footer-img{
    width: 3em;
}

.footer-bar{
    max-width: 100%;
    flex-wrap: nowrap;
}